<div class="container pt-5 mt-5">
  <div class="columns is-centered">
    <div class="box column is-one-third has-background-primary-light">
      <h1 class="title has-text-centered is-italic">Password Generator</h1>
      <div class="field">
        <!-- <label>Length</label> -->
        <!-- <input class="input" (input)="onChangeLength($event.target.value)" /> -->
        <select class="input is-rounded has-text-centered is-italic" (input)="onChangeLength($event.target.value)">
          <option value="" selected="true">Select Length</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
        </select>
      </div>
      <div class="field has-text-centered is-italic">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeUseAll()" type="checkbox" />
            Use All
          </label>
        </div>
      </div>
      <div class="has-text-centered is-italic" *ngIf="!includeAll">
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input (change)="onChangeUseLetters()" type="checkbox" />
              Use Lowercase
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input (change)="onChangeUseUpLetters()" type="checkbox" />
              Use Uppercase
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input (change)="onChangeUseNumbers()" type="checkbox" />
              Use Numbers
            </label>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input (change)="onChangeUseSymbols()" type="checkbox" />
              Use Symbols
            </label>
          </div>
        </div>
      </div>
      <!-- <button [disabled]="!(length >= 3 && (includeLetters || includeNumbers || includeSymbols))" (click)="onButtonClick()">Generate!</button> -->
      <button class="button is-link is-fullwidth is-rounded is-italic is-danger"
        [disabled]="(length < 4 || !(includeLetters ||includeUpLetters || includeNumbers || includeSymbols))"
        (click)="onButtonClick()">Generate!</button>
      <div class="box is-italic has-background-success mt-5" *ngIf="password">
        <label>Your Password</label>
        <div class="columns my-1">
          <input class="input column is-four-fifths has-text-danger is-rounded" [value]="password" />
          <button class="button column is-link is-fullwidth is-rounded is-italic is-primary"
            (click)="copyContent()">{{this.btnText}}</button>
        </div>
      </div>
    </div>
  </div>
</div>